{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas-</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body ></body>>
    <div class="container-md">

        <div class="row">
            {% if censo %}
            <input type="number" hidden value="{{censo.idcenso}}" id="ncenso">
            <h6 class="display-6">Nombre: {{censo.nombre_censo}}</h6>
            <h6 class="display-6">Discapacidad:{{censo.discapacidad}}</h6>
            <h6 class="display-6">Fecha:{{censo.fecha}}</h6>
            <h6 class="display-6">Descripcion:{{censo.descripcion}}</h6>
            {% endif %}

        </div>
        <div class="row">
            <h1 class="display-4">Cantidad vs Localidad</h1>
            <div style="width: 800px;"><canvas id="grafica1"></canvas></div>
        </div>
        
        <div class="row">
            <div class="col">
                <h1 class="display-6">Cantidad vs Localidad # Mujeres</h1>
                <div style="width: 600px;"><canvas id="grafica3"></canvas></div>
            </div>
            <div class="col">
                <h1 class="display-6">Cantidad vs Localidad # Hombres </h1>
                <div style="width: 600px;"><canvas id="grafica4"></canvas></div>

            </div>
        </div>


    </div>
    <script src="{% static 'js/chartjs/chart.umd.js' %}"></script>
    <script>
        let ncenso = document.getElementById('ncenso').value;
        const options = {
            method: 'GET',
            mode: 'no-cors',
            credentials: 'omit',
            redirect: 'follow',
        };

        fetch('http://127.0.0.1:8000/estadisticos/getcenso/' + ncenso, options)
            .then(response => response.json())
            .then(data => {
                const datamap = [];
                let obtenido = JSON.parse(data[1]);
                for (let i = 0; i < obtenido.length; i++) {
                    let datos = obtenido[i].fields;
                    datamap.push(datos);
                }
                console.log(datamap);
                const localidades = JSON.parse(data[2]);
                console.log(localidades);
                (async function () {
                    new Chart(
                        document.getElementById('grafica1'),
                        {
                            type: 'bar',
                            data: {
                                labels: datamap.map(row =>  localidades[row.localidad]),                          
                                
                                datasets: [
                                    {
                                        label: 'Cantidad de Personas',
                                        data: datamap.map(row => row.cantmujeres + row.cantHombres)
                                    }
                                ]
                            }
                        }
                    );
                })();

                (async function () {
                    new Chart(
                        document.getElementById('grafica3'),
                        {
                            type: 'bar',
                            data: {
                                labels: datamap.map(row =>  localidades[row.localidad]),
                                datasets: [
                                    {
                                        label: 'Cantidad de Personas',
                                        data: datamap.map(row => row.cantmujeres )
                                    }
                                ]
                            }
                        }
                    );
                })();

                (async function () {
                    new Chart(
                        document.getElementById('grafica4'),
                        {
                            type: 'bar',
                            data: {
                                labels: datamap.map(row =>  localidades[row.localidad]),
                                datasets: [
                                    {
                                        label: 'Cantidad de Personas',
                                        data: datamap.map(row => row.cantHombres)
                                    }
                                ]
                            }
                        }
                    );
                })();
            })
            .catch(err => console.error(err));

    </script>
</body>

</html>